@model FarmManager.Models.EquipamentoRural

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Equipamento Rural</h2>

<h4>Tem certeza que deseja remover este equipamento?</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VLCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEEquipamentoRural)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEEquipamentoRural)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAlugado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAlugado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTCompra)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar a lista de equipamentos cadastrados", "Index")
        </div>
    }
</div>
