@model FarmManager.Models.EquipamentoRural

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Equipamento Rural</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEEquipamentoRural)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEEquipamentoRural)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.VLCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAlugado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAlugado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTCompra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CDEquipamentoRural }) |
    @Html.ActionLink("Voltar a lista de equipamentos cadastrados", "Index")
</p>
