@model FarmManager.Models.Vaca

@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar uma nova vaca</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vaca</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NRBrinco, "Número Brinco", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NRBrinco)
                @Html.ValidationMessageFor(model => model.NRBrinco)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTNascimento, "Data Nascimento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DTNascimento, "{0:MM/dd/yyyy}")
                @Html.ValidationMessageFor(model => model.DTNascimento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TPSexo, "Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TPSexo, new SelectList(
                  new List<Object>{
                       new { value = "F" , text = "Feminino" },
                       new { value = "M" , text = "Masculino"}
                                  }
                                    ,"value", "text", 2))
                @Html.ValidationMessageFor(model => model.TPSexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTDesamamentacao, "Data Desamamentação", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTDesamamentacao)
                @Html.ValidationMessageFor(model => model.DTDesamamentacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTInseminacao, "Data Última Inseminação", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTInseminacao)
                @Html.ValidationMessageFor(model => model.DTInseminacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTProcriacao, "Data Última Procriação", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTProcriacao)
                @Html.ValidationMessageFor(model => model.DTProcriacao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista de vacas", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
