@model FarmManager.Models.Vaca

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vaca</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.NRBrinco)

        <div class="form-group">
            @Html.LabelFor(model => model.DTNascimento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTNascimento)
                @Html.ValidationMessageFor(model => model.DTNascimento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TPSexo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TPSexo, new SelectList(
                  new List<Object>{
                       new { value = "Feminino" , text = "Fêmea" },
                       new { value = "Masculino" , text = "Macho"}
                                  }
                                    ,"value", "text", 2))
                @Html.ValidationMessageFor(model => model.TPSexo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTInseminacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTInseminacao)
                @Html.ValidationMessageFor(model => model.DTInseminacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTDesamamentacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTDesamamentacao)
                @Html.ValidationMessageFor(model => model.DTDesamamentacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DTProcriacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DTProcriacao)
                @Html.ValidationMessageFor(model => model.DTProcriacao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar a lista de Gado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
