@model FarmManager.Models.Ordenha

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Ordenha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VLLeite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VLLeite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTOrdenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTOrdenha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CDOrdenha }) |
    @Html.ActionLink("Back to List", "Index")
</p>
