<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Farm Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Farm Manager", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventário <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Gado", "Index", "Vaca")</li>
                            <li>@Html.ActionLink("Equipamento Rural", "Index", "EquipamentoRural")</li>
                            <li>@Html.ActionLink("Milho", "Index", "Milho")</li>
                            <li>@Html.ActionLink("Soja", "Index", "Soja")</li>
                            <li>
                                <a class="trigger right-caret">Terra</a>
                                <ul class="dropdown-menu sub-menu">
                                    <li>
                                        <a class="trigger right-caret">Terra de Criação</a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li>@Html.ActionLink("Pasto", "Index", "Pasto")</li>
                                            <li>@Html.ActionLink("Piquete", "Index", "Piquete")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Terra de Plantio", "Index", "TerraPlantio")</li>
                                    <li>@Html.ActionLink("Terra Nua", "Index", "TerraNua")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Relatório Inventário", "Index", "RelatorioInventario")</li>
                    <li>@Html.ActionLink("Funcionário", "Index", "Funcionario")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Gado", "Index", "Vaca")</li>
                    }
                    <li>@Html.ActionLink("Plano de Ciclo", "PlanoCiclo", "Vaca")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Farm Manager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
