@model IEnumerable<FarmManager.Models.Gado>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Gado</h2>

<p>
    @Html.ActionLink("Cadastrar um novo Gado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NRBrinco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TPSexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTDesamamentacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTInseminacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DTProcriacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRBrinco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TPSexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTDesamamentacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTInseminacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DTProcriacao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.NRBrinco }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.NRBrinco }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.NRBrinco })
        </td>
    </tr>
}

</table>
