@model FarmManager.Models.Milho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Milho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NRQuantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRQuantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DTAtualizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DTAtualizacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CDMilho }) |
    @Html.ActionLink("Back to List", "Index")
</p>
