@{
    ViewBag.Title = "Home";
}

<!--<img id="logo_index" src="@Url.Content("~/Images/background_home.png")" class="img-responsive">-->

<span class="row">
    <div class="col-md-6">
        <h2>Bem-Vindo ao Farm Manager</h2>
        <p>
            Farm Manager te ajuda a gerenciar sua fazenda.
        </p>
    </div>
</span>

<br>

@if (Request.IsAuthenticated)
{
    <span>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="@Url.Action("Index", "Gado")" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/gado_home.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Gado</h4>
                <p class="text-muted">Gerencie o seu pasto</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="@Url.Action("Index", "MovimentacaoGraos")" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/grao_home.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Grãos</h4>
                <p class="text-muted">Gerencie a quantidade de milho e soja disponível</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="@Url.Action("Index", "EquipamentoRural")" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/equiprural_home.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Equipamento Rural</h4>
                <p class="text-muted">Controle os equipamentos da sua Fazenda</p>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 portfolio-item">
            <a href="@Url.Action("Details", "TerraFazenda", new { id=1 })" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/terra_home.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Terra</h4>
                <p class="text-muted">Gerencie as terras de plantio e criação</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 portfolio-item">
            <a href="@Url.Action("Index", "Funcionario")" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/funcionario_home.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Funcionários</h4>
                <p class="text-muted">Gerencie os seus funcionários</p>
            </div>
        </div>
    </span>
}

else
{
    <span class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
            <a href="@Url.Action("Index", "Gado")" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/gado_home.png" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
                <h4>Gado</h4>
                <p class="text-muted">Gerencie o seu pasto</p>
            </div>
        </div>
    </span>
}