@model IEnumerable<FarmManager.Models.Pasto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NRVacasAlocadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRMaximoVacas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NRHectares)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRVacasAlocadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRMaximoVacas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRHectares)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CDTerra }) |
            @Html.ActionLink("Details", "Details", new { id=item.CDTerra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CDTerra })
        </td>
    </tr>
}

</table>
