@model IEnumerable<FarmManager.Models.Pasto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Pastos</h2>

<p>
    @Html.ActionLink("Cadastrar um novo pasto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Gados presentes
        </th>
        <th>
            Capacidade máxima
        </th>
        <th>
            Número de hectares
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NRGadosAlocadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRMaximoGados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NRHectares)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CDTerra }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.CDTerra }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.CDTerra })
        </td>
    </tr>
}

</table>
